DEBUG=0
DJANGO_SECRET_KEY=
ORIGIN_PROXY_SECRET=
ALLOWED_HOSTS=kkotdongnae.nemanic.dev,kkotdongnae-origin.nemanic.dev,localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=https://kkotdongnae.nemanic.dev
POSTGRES_DB=kkotdongnae_db
POSTGRES_USER=kkot_user
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_PORT=5432
PAYMENT_ENABLED=0
